<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luopc.base.center.resource.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.luopc.base.center.resource.model.Resource">
    <id column="RES_ID" jdbcType="CHAR" property="resId" />
    <result column="PARENT_ID" jdbcType="CHAR" property="parentId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="IMAGE_URL" jdbcType="VARCHAR" property="imageUrl" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="TYPING" jdbcType="DECIMAL" property="typing" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="SYSTEM_CODE" jdbcType="VARCHAR" property="systemCode" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="APPROVAL_STATUS" jdbcType="DECIMAL" property="approvalStatus" />
    <result column="CREATE_USER" jdbcType="CHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER" jdbcType="CHAR" property="modifyUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="SHOW_ORDER" jdbcType="DECIMAL" property="showOrder" />
    <result column="IS_MENU" jdbcType="DECIMAL" property="isMenu" />
    <result column="MODULE_ID" jdbcType="VARCHAR" property="moduleId" />
    <result column="SOURCE_FILE" jdbcType="VARCHAR" property="sourceFile" />
    <result column="INVOKE_FUNCTION" jdbcType="VARCHAR" property="invokeFunction" />
  </resultMap>
  <sql id="Base_Column_List">
    RES_ID, PARENT_ID, NAME, CODE, URL, IMAGE_URL, COMMENTS, TYPING, SYSTEM_ID, SYSTEM_CODE, 
    TENANT_ID, STATUS, APPROVAL_STATUS, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, 
    SHOW_ORDER, IS_MENU, MODULE_ID, SOURCE_FILE, INVOKE_FUNCTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_RESOURCE
    where RES_ID = #{resId,jdbcType=CHAR}
  </select>
  <select id="selectResourceCollectionByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select t.* from t_resource t,t_link_role_resource l where t.res_id = l.resource_id and l.role_id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_RESOURCE
    where RES_ID = #{resId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.luopc.base.center.resource.model.Resource">
    insert into T_RESOURCE (RES_ID, PARENT_ID, NAME, 
      CODE, URL, IMAGE_URL, 
      COMMENTS, TYPING, SYSTEM_ID, 
      SYSTEM_CODE, TENANT_ID, STATUS, 
      APPROVAL_STATUS, CREATE_USER, CREATE_TIME, 
      MODIFY_USER, MODIFY_TIME, SHOW_ORDER, 
      IS_MENU, MODULE_ID, SOURCE_FILE, 
      INVOKE_FUNCTION)
    values (#{resId,jdbcType=CHAR}, #{parentId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{typing,jdbcType=DECIMAL}, #{systemId,jdbcType=VARCHAR}, 
      #{systemCode,jdbcType=VARCHAR}, #{tenantId,jdbcType=CHAR}, #{status,jdbcType=DECIMAL}, 
      #{approvalStatus,jdbcType=DECIMAL}, #{createUser,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{showOrder,jdbcType=DECIMAL}, 
      #{isMenu,jdbcType=DECIMAL}, #{moduleId,jdbcType=VARCHAR}, #{sourceFile,jdbcType=VARCHAR}, 
      #{invokeFunction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luopc.base.center.resource.model.Resource">
    insert into T_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resId != null">
        RES_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="imageUrl != null">
        IMAGE_URL,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="typing != null">
        TYPING,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="systemCode != null">
        SYSTEM_CODE,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="showOrder != null">
        SHOW_ORDER,
      </if>
      <if test="isMenu != null">
        IS_MENU,
      </if>
      <if test="moduleId != null">
        MODULE_ID,
      </if>
      <if test="sourceFile != null">
        SOURCE_FILE,
      </if>
      <if test="invokeFunction != null">
        INVOKE_FUNCTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resId != null">
        #{resId,jdbcType=CHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="typing != null">
        #{typing,jdbcType=DECIMAL},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null">
        #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="isMenu != null">
        #{isMenu,jdbcType=DECIMAL},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="sourceFile != null">
        #{sourceFile,jdbcType=VARCHAR},
      </if>
      <if test="invokeFunction != null">
        #{invokeFunction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luopc.base.center.resource.model.Resource">
    update T_RESOURCE
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="typing != null">
        TYPING = #{typing,jdbcType=DECIMAL},
      </if>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null">
        SYSTEM_CODE = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="showOrder != null">
        SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="isMenu != null">
        IS_MENU = #{isMenu,jdbcType=DECIMAL},
      </if>
      <if test="moduleId != null">
        MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="sourceFile != null">
        SOURCE_FILE = #{sourceFile,jdbcType=VARCHAR},
      </if>
      <if test="invokeFunction != null">
        INVOKE_FUNCTION = #{invokeFunction,jdbcType=VARCHAR},
      </if>
    </set>
    where RES_ID = #{resId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luopc.base.center.resource.model.Resource">
    update T_RESOURCE
    set PARENT_ID = #{parentId,jdbcType=CHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      TYPING = #{typing,jdbcType=DECIMAL},
      SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      SYSTEM_CODE = #{systemCode,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=CHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      CREATE_USER = #{createUser,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      IS_MENU = #{isMenu,jdbcType=DECIMAL},
      MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      SOURCE_FILE = #{sourceFile,jdbcType=VARCHAR},
      INVOKE_FUNCTION = #{invokeFunction,jdbcType=VARCHAR}
    where RES_ID = #{resId,jdbcType=CHAR}
  </update>  
</mapper>