<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luopc.web.center.user.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.luopc.web.center.user.model.Account">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="OPEN_SECRET" jdbcType="VARCHAR" property="openSecret" />
    <result column="IS_TEMPORARY" jdbcType="DECIMAL" property="isTemporary" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="END_DATE" jdbcType="DATE" property="endDate" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="APPROVAL_STATUS" jdbcType="DECIMAL" property="approvalStatus" />
    <result column="CREATE_USER" jdbcType="CHAR" property="createUser" />
    <result column="MODIFY_USER" jdbcType="CHAR" property="modifyUser" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="VALIDATA_CODE" jdbcType="VARCHAR" property="validataCode" />
    <result column="VALIDATA_OUT_DATE" jdbcType="DATE" property="validataOutDate" />
    <result column="LAST_LOGIN_IP" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="LAST_LOGIN_DATE" jdbcType="DATE" property="lastLoginDate" />
    <result column="LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="MODIFY_PASSWORD_TIME" jdbcType="TIMESTAMP" property="modifyPasswordTime" />
    <result column="BEGIN_VALID_TIME" jdbcType="DATE" property="beginValidTime" />
    <result column="END_VALID_TIME" jdbcType="DATE" property="endValidTime" />
    <result column="IDENTITY_ID" jdbcType="CHAR" property="identityId" />
    <result column="IS_SUPERADMIN" jdbcType="DECIMAL" property="isSuperadmin" />
    <result column="UNIT_ID" jdbcType="CHAR" property="unitId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, LOGIN_NAME, SALT, OPEN_ID, OPEN_SECRET, IS_TEMPORARY, START_DATE, END_DATE, 
    STATUS, APPROVAL_STATUS, CREATE_USER, MODIFY_USER, TENANT_ID, CREATE_TIME, MODIFY_TIME, 
    PASSWORD, EMAIL, VALIDATA_CODE, VALIDATA_OUT_DATE, LAST_LOGIN_IP, LAST_LOGIN_DATE, 
    LOGIN_TIME, MODIFY_PASSWORD_TIME, BEGIN_VALID_TIME, END_VALID_TIME, IDENTITY_ID, 
    IS_SUPERADMIN, UNIT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ACCOUNT
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_ACCOUNT
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.luopc.web.center.user.model.Account">
    insert into T_ACCOUNT (ID, NAME, LOGIN_NAME, 
      SALT, OPEN_ID, OPEN_SECRET, 
      IS_TEMPORARY, START_DATE, END_DATE, 
      STATUS, APPROVAL_STATUS, CREATE_USER, 
      MODIFY_USER, TENANT_ID, CREATE_TIME, 
      MODIFY_TIME, PASSWORD, EMAIL, 
      VALIDATA_CODE, VALIDATA_OUT_DATE, LAST_LOGIN_IP, 
      LAST_LOGIN_DATE, LOGIN_TIME, MODIFY_PASSWORD_TIME, 
      BEGIN_VALID_TIME, END_VALID_TIME, IDENTITY_ID, 
      IS_SUPERADMIN, UNIT_ID)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{openSecret,jdbcType=VARCHAR}, 
      #{isTemporary,jdbcType=DECIMAL}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, 
      #{status,jdbcType=DECIMAL}, #{approvalStatus,jdbcType=DECIMAL}, #{createUser,jdbcType=CHAR}, 
      #{modifyUser,jdbcType=CHAR}, #{tenantId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{validataCode,jdbcType=VARCHAR}, #{validataOutDate,jdbcType=DATE}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{lastLoginDate,jdbcType=DATE}, #{loginTime,jdbcType=TIMESTAMP}, #{modifyPasswordTime,jdbcType=TIMESTAMP}, 
      #{beginValidTime,jdbcType=DATE}, #{endValidTime,jdbcType=DATE}, #{identityId,jdbcType=CHAR}, 
      #{isSuperadmin,jdbcType=DECIMAL}, #{unitId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luopc.web.center.user.model.Account">
    insert into T_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="openId != null">
        OPEN_ID,
      </if>
      <if test="openSecret != null">
        OPEN_SECRET,
      </if>
      <if test="isTemporary != null">
        IS_TEMPORARY,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="validataCode != null">
        VALIDATA_CODE,
      </if>
      <if test="validataOutDate != null">
        VALIDATA_OUT_DATE,
      </if>
      <if test="lastLoginIp != null">
        LAST_LOGIN_IP,
      </if>
      <if test="lastLoginDate != null">
        LAST_LOGIN_DATE,
      </if>
      <if test="loginTime != null">
        LOGIN_TIME,
      </if>
      <if test="modifyPasswordTime != null">
        MODIFY_PASSWORD_TIME,
      </if>
      <if test="beginValidTime != null">
        BEGIN_VALID_TIME,
      </if>
      <if test="endValidTime != null">
        END_VALID_TIME,
      </if>
      <if test="identityId != null">
        IDENTITY_ID,
      </if>
      <if test="isSuperadmin != null">
        IS_SUPERADMIN,
      </if>
      <if test="unitId != null">
        UNIT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="openSecret != null">
        #{openSecret,jdbcType=VARCHAR},
      </if>
      <if test="isTemporary != null">
        #{isTemporary,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="validataCode != null">
        #{validataCode,jdbcType=VARCHAR},
      </if>
      <if test="validataOutDate != null">
        #{validataOutDate,jdbcType=DATE},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=DATE},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyPasswordTime != null">
        #{modifyPasswordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginValidTime != null">
        #{beginValidTime,jdbcType=DATE},
      </if>
      <if test="endValidTime != null">
        #{endValidTime,jdbcType=DATE},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=CHAR},
      </if>
      <if test="isSuperadmin != null">
        #{isSuperadmin,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luopc.web.center.user.model.Account">
    update T_ACCOUNT
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="openSecret != null">
        OPEN_SECRET = #{openSecret,jdbcType=VARCHAR},
      </if>
      <if test="isTemporary != null">
        IS_TEMPORARY = #{isTemporary,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="validataCode != null">
        VALIDATA_CODE = #{validataCode,jdbcType=VARCHAR},
      </if>
      <if test="validataOutDate != null">
        VALIDATA_OUT_DATE = #{validataOutDate,jdbcType=DATE},
      </if>
      <if test="lastLoginIp != null">
        LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginDate != null">
        LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=DATE},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyPasswordTime != null">
        MODIFY_PASSWORD_TIME = #{modifyPasswordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginValidTime != null">
        BEGIN_VALID_TIME = #{beginValidTime,jdbcType=DATE},
      </if>
      <if test="endValidTime != null">
        END_VALID_TIME = #{endValidTime,jdbcType=DATE},
      </if>
      <if test="identityId != null">
        IDENTITY_ID = #{identityId,jdbcType=CHAR},
      </if>
      <if test="isSuperadmin != null">
        IS_SUPERADMIN = #{isSuperadmin,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        UNIT_ID = #{unitId,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luopc.web.center.user.model.Account">
    update T_ACCOUNT
    set NAME = #{name,jdbcType=VARCHAR},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      OPEN_SECRET = #{openSecret,jdbcType=VARCHAR},
      IS_TEMPORARY = #{isTemporary,jdbcType=DECIMAL},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      STATUS = #{status,jdbcType=DECIMAL},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      CREATE_USER = #{createUser,jdbcType=CHAR},
      MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      TENANT_ID = #{tenantId,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      VALIDATA_CODE = #{validataCode,jdbcType=VARCHAR},
      VALIDATA_OUT_DATE = #{validataOutDate,jdbcType=DATE},
      LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      LAST_LOGIN_DATE = #{lastLoginDate,jdbcType=DATE},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      MODIFY_PASSWORD_TIME = #{modifyPasswordTime,jdbcType=TIMESTAMP},
      BEGIN_VALID_TIME = #{beginValidTime,jdbcType=DATE},
      END_VALID_TIME = #{endValidTime,jdbcType=DATE},
      IDENTITY_ID = #{identityId,jdbcType=CHAR},
      IS_SUPERADMIN = #{isSuperadmin,jdbcType=DECIMAL},
      UNIT_ID = #{unitId,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>