<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luopc.web.center.role.dao.roleMapper">
  <resultMap id="BaseResultMap" type="com.luopc.web.center.role.model.role">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="CREATE_USER" jdbcType="CHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER" jdbcType="CHAR" property="modifyUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="APPROVAL_STATUS" jdbcType="DECIMAL" property="approvalStatus" />
    <result column="SHOW_ORDER" jdbcType="DECIMAL" property="showOrder" />
    <result column="SYSTEM_ID" jdbcType="CHAR" property="systemId" />
    <result column="IS_PUBLIC" jdbcType="DECIMAL" property="isPublic" />
    <result column="UNIT_ID" jdbcType="CHAR" property="unitId" />
    <result column="NAME_FIRST_SPELL" jdbcType="VARCHAR" property="nameFirstSpell" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, CODE, COMMENTS, TENANT_ID, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, 
    STATUS, APPROVAL_STATUS, SHOW_ORDER, SYSTEM_ID, IS_PUBLIC, UNIT_ID, NAME_FIRST_SPELL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ROLE
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_ROLE
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.luopc.web.center.role.model.role">
    insert into T_ROLE (ID, NAME, CODE, 
      COMMENTS, TENANT_ID, CREATE_USER, 
      CREATE_TIME, MODIFY_USER, MODIFY_TIME, 
      STATUS, APPROVAL_STATUS, SHOW_ORDER, 
      SYSTEM_ID, IS_PUBLIC, UNIT_ID, 
      NAME_FIRST_SPELL)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{tenantId,jdbcType=CHAR}, #{createUser,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=DECIMAL}, #{approvalStatus,jdbcType=DECIMAL}, #{showOrder,jdbcType=DECIMAL}, 
      #{systemId,jdbcType=CHAR}, #{isPublic,jdbcType=DECIMAL}, #{unitId,jdbcType=CHAR}, 
      #{nameFirstSpell,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luopc.web.center.role.model.role">
    insert into T_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="showOrder != null">
        SHOW_ORDER,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="isPublic != null">
        IS_PUBLIC,
      </if>
      <if test="unitId != null">
        UNIT_ID,
      </if>
      <if test="nameFirstSpell != null">
        NAME_FIRST_SPELL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=CHAR},
      </if>
      <if test="isPublic != null">
        #{isPublic,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=CHAR},
      </if>
      <if test="nameFirstSpell != null">
        #{nameFirstSpell,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luopc.web.center.role.model.role">
    update T_ROLE
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="showOrder != null">
        SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=CHAR},
      </if>
      <if test="isPublic != null">
        IS_PUBLIC = #{isPublic,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        UNIT_ID = #{unitId,jdbcType=CHAR},
      </if>
      <if test="nameFirstSpell != null">
        NAME_FIRST_SPELL = #{nameFirstSpell,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luopc.web.center.role.model.role">
    update T_ROLE
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=CHAR},
      CREATE_USER = #{createUser,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      SYSTEM_ID = #{systemId,jdbcType=CHAR},
      IS_PUBLIC = #{isPublic,jdbcType=DECIMAL},
      UNIT_ID = #{unitId,jdbcType=CHAR},
      NAME_FIRST_SPELL = #{nameFirstSpell,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>