<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luopc.base.center.resources.dao.LinkRoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.luopc.base.center.resources.model.LinkRoleResource">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="ROLE_ID" jdbcType="CHAR" property="roleId" />
    <result column="RESOURCE_ID" jdbcType="CHAR" property="resourceId" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="APPROVAL_STATUS" jdbcType="DECIMAL" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="CREATE_USER" jdbcType="CHAR" property="createUser" />
    <result column="MODIFY_USER" jdbcType="CHAR" property="modifyUser" />
    <result column="SHOW_ORDER" jdbcType="DECIMAL" property="showOrder" />
    <result column="UNIT_ID" jdbcType="CHAR" property="unitId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, RESOURCE_ID, TENANT_ID, STATUS, APPROVAL_STATUS, CREATE_TIME, MODIFY_TIME, 
    CREATE_USER, MODIFY_USER, SHOW_ORDER, UNIT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_LINK_ROLE_RESOURCE
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_LINK_ROLE_RESOURCE
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.luopc.base.center.resources.model.LinkRoleResource">
    insert into T_LINK_ROLE_RESOURCE (ID, ROLE_ID, RESOURCE_ID, 
      TENANT_ID, STATUS, APPROVAL_STATUS, 
      CREATE_TIME, MODIFY_TIME, CREATE_USER, 
      MODIFY_USER, SHOW_ORDER, UNIT_ID
      )
    values (#{id,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{resourceId,jdbcType=CHAR}, 
      #{tenantId,jdbcType=CHAR}, #{status,jdbcType=DECIMAL}, #{approvalStatus,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=CHAR}, 
      #{modifyUser,jdbcType=CHAR}, #{showOrder,jdbcType=DECIMAL}, #{unitId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luopc.base.center.resources.model.LinkRoleResource">
    insert into T_LINK_ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="resourceId != null">
        RESOURCE_ID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="showOrder != null">
        SHOW_ORDER,
      </if>
      <if test="unitId != null">
        UNIT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luopc.base.center.resources.model.LinkRoleResource">
    update T_LINK_ROLE_RESOURCE
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=CHAR},
      </if>
      <if test="resourceId != null">
        RESOURCE_ID = #{resourceId,jdbcType=CHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="showOrder != null">
        SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        UNIT_ID = #{unitId,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luopc.base.center.resources.model.LinkRoleResource">
    update T_LINK_ROLE_RESOURCE
    set ROLE_ID = #{roleId,jdbcType=CHAR},
      RESOURCE_ID = #{resourceId,jdbcType=CHAR},
      TENANT_ID = #{tenantId,jdbcType=CHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=CHAR},
      MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      UNIT_ID = #{unitId,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>