<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luopc.base.center.role.dao.LinkUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.luopc.base.center.role.model.LinkUserRole">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="USER_ID" jdbcType="CHAR" property="userId" />
    <result column="ROLE_ID" jdbcType="CHAR" property="roleId" />
    <result column="IS_TEMPORARY" jdbcType="DECIMAL" property="isTemporary" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="END_DATE" jdbcType="DATE" property="endDate" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="APPROVAL_STATUS" jdbcType="DECIMAL" property="approvalStatus" />
    <result column="SHOW_ORDER" jdbcType="DECIMAL" property="showOrder" />
    <result column="CREATE_USER" jdbcType="CHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER" jdbcType="CHAR" property="modifyUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="ORGANIZE_ID" jdbcType="CHAR" property="organizeId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, ROLE_ID, IS_TEMPORARY, START_DATE, END_DATE, TENANT_ID, STATUS, APPROVAL_STATUS, 
    SHOW_ORDER, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, ORGANIZE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_LINK_USER_ROLE
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_LINK_USER_ROLE
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.luopc.base.center.role.model.LinkUserRole">
    insert into T_LINK_USER_ROLE (ID, USER_ID, ROLE_ID, IS_TEMPORARY, 
      START_DATE, END_DATE, TENANT_ID, 
      STATUS, APPROVAL_STATUS, SHOW_ORDER, 
      CREATE_USER, CREATE_TIME, MODIFY_USER, 
      MODIFY_TIME, ORGANIZE_ID)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{isTemporary,jdbcType=DECIMAL}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{tenantId,jdbcType=CHAR}, 
      #{status,jdbcType=DECIMAL}, #{approvalStatus,jdbcType=DECIMAL}, #{showOrder,jdbcType=DECIMAL}, 
      #{createUser,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=CHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{organizeId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luopc.base.center.role.model.LinkUserRole">
    insert into T_LINK_USER_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="isTemporary != null">
        IS_TEMPORARY,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="showOrder != null">
        SHOW_ORDER,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="organizeId != null">
        ORGANIZE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="isTemporary != null">
        #{isTemporary,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizeId != null">
        #{organizeId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luopc.base.center.role.model.LinkUserRole">
    update T_LINK_USER_ROLE
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=CHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=CHAR},
      </if>
      <if test="isTemporary != null">
        IS_TEMPORARY = #{isTemporary,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      </if>
      <if test="showOrder != null">
        SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizeId != null">
        ORGANIZE_ID = #{organizeId,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luopc.base.center.role.model.LinkUserRole">
    update T_LINK_USER_ROLE
    set USER_ID = #{userId,jdbcType=CHAR},
      ROLE_ID = #{roleId,jdbcType=CHAR},
      IS_TEMPORARY = #{isTemporary,jdbcType=DECIMAL},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      TENANT_ID = #{tenantId,jdbcType=CHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      SHOW_ORDER = #{showOrder,jdbcType=DECIMAL},
      CREATE_USER = #{createUser,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=CHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      ORGANIZE_ID = #{organizeId,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>